<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="This is where your description goes">
        <meta name="keywords" content="one, two, three">
    
        <title>NeuroFlow</title>
    
        <!-- external CSS link -->
        <link rel="stylesheet" href="css/reset.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <h1>NeuroFlow</h1>
        </header>
        <main class="signInFormSection">
            <form class="signInForm">
                <div class="loginImgContainer">
                    <img class="loginImg" src="css/img/loginImage.jpg" alt="Brain">
                </div>
                <div>
                    <a href="/login" class="loginBtns login">Login</a>
                    <a href="/signup" class="loginBtns signUp">SignUp</a>
                </div>
            </form>
        </main>
    
    </body>
</html>
