/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* FONTS
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.btn {
  font-size: 3rem;
}

/******************************************
/* LAYOUT
/*******************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh; 
}

header,
ul {
  display: flex;
  gap: 5.5rem;
  justify-content: center;
  align-items: center;
}

header {
  width: 100vw;
  height: 5rem;
}

ul {
  width: 90%;
  justify-content: flex-end;
}

.signInFormSection {
  margin-top: 10rem;
}

.signInForm {
  gap: 2rem;
  background-color: #9bccfd;
}

.loginImgContainer {
  width: 80%;
}

.buttonContainer {
  gap: 4rem;
}

/* MEDIA QUERIES */



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body {
  background-color: #e7f2f8;
}

header {
  background-color: #9bccfd;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}
