/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* FONTS
/*******************************************/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h2 {
  font-size: 2.4rem;
}

.logoutButton,
.btn-success {
  font-size: 2.4rem;
}

h2,
p {
    font-size: 3.6rem;
    text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
  
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  height: 10rem;
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  width: 90%;
  height: 10rem;
  gap: 4rem;
  justify-content: flex-end;
  align-items: center;
}

#instructionsContainer {
  width: 50%;
  text-align: center;
}

.game, .gameContainer, .scoreBoard, div, .goodButton, footer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.scoreBoard {
  flex-flow: nowrap;
}
.gameContainer {
  margin-top: 5rem;
}
.game {
  gap: 2rem;
  justify-content: center;
  max-width: 64rem;
}
.scoreBoard {
  height: 5rem;
  line-height: 5rem;
  gap: 25rem;
}

h1 {
  width: 100%;
  text-align: center;
}

div {
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 50%;
  height: 10rem;
  max-width: 10rem;
  min-width: 10rem;
  flex: 0 0 15%;
  background: radial-gradient(circle, #0D446C, #167DC6);
  background-size: contain;
}
div:hover {
  cursor: crosshair;
}

.goodButton, 
.game{
  padding-top: 1rem;
}

button:hover {
  color: blue;
  cursor: pointer;
  box-shadow: 2px 2px 2px red;
}

.hidden {
  display: none;
}



/* Define the flip animation */
@keyframes flip {
  from {
    transform: rotateY(0deg);
    background: radial-gradient(circle, #0D446C, #167DC6);
  }
  to {
    transform: rotateY(180deg);
    background: red;
  }
}

/* Apply the flip animation to the target element */
.target.flipped {
  animation: flip 0.25s linear;
  transform-style: preserve-3d;
}

/* MEDIA QUERIES
  */

@media screen and (max-width: 560px) {
  div {
  max-width: 7.5rem;
  min-width: 7.5rem;
  height: 7.5rem;
  }
  .scoreBoard, h2 {
    display: block;
    width: 100%;
    line-height: 3rem;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background-color: #e7f2f8;
}

header {
  background-color: #9bccfd;
}
