/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/******************************************
  /* FONTS
  /*******************************************/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1 {
    font-size: 4rem;
}

.shape {
    font-size: 10rem;
}

.scoreboard {
    font-size: 3rem;
}

h2,
p {
    font-size: 3.6rem;
}

.headerButton {
    font-size: 1.8rem;
}

.difficultyButton {
    font-size: 2.4rem;
}

#startTestButton {
    font-size: 2.4rem;
}

/******************************************
  /* LAYOUT
  /*******************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 10rem;
    display: flex;
    justify-content: center;
}

#pageLinks {
    width: 90%;
    height: 10rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4rem;
}

.instructionsContainer {
    margin-top: 5rem;
}

.instructionItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

#shape-container {
    height: 15rem;
    gap: 5rem;
    text-align: center;
}

h1 {
    width: 100%;
    text-align: center;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    list-style: none;
}

/* MEDIA QUERIES */




/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/

body {
    background-color: #e7f2f8;
}

header {
    background-color: #9bccfd;
}

h2,
p {
    width: 50%;
}

.bi-triangle-fill {
    color: red;
    transform: scale(1);
}

.bi-circle-fill {
    color: orange;
    transform: scale(1);
}

.bi-square-fill {
    color: yellow;
    transform: scale(1);
}

.bi-heart-fill {
    color: green;
    transform: scale(1);
}

.bi-star-fill {
    color: blue;
    transform: scale(1);
}

.bi-pentagon-fill {
    color: indigo;
    transform: scale(1);
}

.bi-hexagon-fill {
    color: violet;
    transform: scale(1);
}

#instructionsContainer {
    text-align: center;
}

.hidden {
    display: none;
}

.difficultyButton {
    width: 20rem;
    height: 7.5rem;
}


/* make a clickable class for when the shapes can be clicked for the answers */

.clickable {
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}
/* TRIANGLE */
.bi-triangle-fill.clickable:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(248, 104, 104);
}

.bi-triangle-fill.clickable:active {
    cursor: pointer;
    transform: scale(0.9);
    color: darkred;
}
/* CIRCLE */
.bi-circle-fill.clickable:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(255, 187, 60);
}

.bi-circle-fill.clickable:active {
    cursor: pointer;
    transform: scale(0.9);
    color: darkorange;
}
/* SQUARE */
.bi-square-fill.clickable:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(255, 255, 87);
}

.bi-square-fill.clickable:active {
    cursor: pointer;
    transform: scale(0.9);
    color: rgb(224, 224, 1);
}
/* HEART */
.bi-heart-fill.clickable:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: lightgreen;
}

.bi-heart-fill.clickable:active {
    cursor: pointer;
    transform: scale(0.9);
    color: darkgreen;
}
/* STAR */
.bi-star-fill.clickable:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: lightblue;
}

.bi-star-fill.clickable:active {
    cursor: pointer;
    transform: scale(0.9);
    color: darkblue;
}
/* PENTAGON */
.bi-pentagon-fill.clickable:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(152, 37, 235);
}

.bi-pentagon-fill.clickable:active {
    cursor: pointer;
    transform: scale(0.9);
    color: rgb(46, 1, 78);
}
/* HEXAGON */
.bi-hexagon-fill.clickable:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(249, 183, 249);
}

.bi-hexagon-fill.clickable:active {
    cursor: pointer;
    transform: scale(0.9);
    color: rgb(161, 1, 229);
}
